
        h1 {
            color: aqua
        }
        *{

        border:solid;

        }

        .header{
            background-color: brown;
            display: flex;
            flex-direction: column;
            justify-content:space-between;
        }

        .grid{

            display:flex;
            flex-wrap:wrap;


        }

        .footer{
            
            display:flex;
            flex-direction: row;
            justify-content:flex-end ;
            
        }